* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e2e2e;
    font-family: "Tauri", sans-serif;
    background-image: url(https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8627.jpg?t=st=1711449903~exp=1711453503~hmac=3c83ceb9f270e33902941b9e01b0105a9c5513e36eac40de9572e6b014e27314&w=1380);
    background-size: 100%;
}

.bar {
    margin-top: 20px;
}

.bar-a {
    text-decoration: none;
    opacity: 55%;
    color: #fff;
    background: none;
    border: navajowhite;
    display: inline;
    float: right;
    margin-right: 80px;
    margin-top: 10px;
    transition: 0.2s;
    font-size: 15px
}

.bar-img {
    position: relative;
    border-radius: 25%;
    display: inline;
    left: 50px;
}

.bar-img:hover {
    transform: rotate(360deg);
    transition: 0.4s;
}

.bar-a:hover {
    color: rgb(202, 202, 202);
    opacity: 100%;
    font-size: 18px;
    text-shadow: 20px 0 25px #0051ff,
     1px 1px 0 #0051ff,
     1px 1px 0 #0051ff,
     -20px 0 25px #ffffff,
     1px 1px 0 #0051ff;
}

.btu {
    max-width: 420px;
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left: 38%;
}

.button {
    padding: 12px 28px;
    background-color: #0042d1;
    border: none;
    border-radius: 15px;
    color: azure;
    transition: 0.3s;
    margin-left: 20px;
    margin-top: 25px;
}

.button:hover {
    box-shadow: 0 0 40px 1px #002fff;
    font-size: 15px;
}

.btu-a {
    text-decoration: none;
}
